$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;

@media screen and (max-width: #{$desktop-width - 1px}) {

}

.game-index-container {
    width: 60vw;
    font-size: 10px;
}

.game-index-ul {
    height: 85vh;
}