$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;



.game-index-container {
    width: 65vw;
    min-width: 850px;
    font-size: 10px;
    margin: 0 25px 25px 25px;
}

.game-index-ul {
    height: 85vh;
    min-width: 800px;
    width: 100%;
}



.game-index-header {
    display: flex;
    min-width: 800px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.game-index-header > h4 {
    min-width: 100px;
    width: 12.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 8px;
}

#place-placeholder {
    min-width: 50px;
    width: 6.25%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px 8px 0 8px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.game-index-tier-header {
    display: flex;
    min-width: 650px;
    width: 75%;
}
.tier-player-header {
    min-width: 100px;
    width: 26%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.tier-player-header > h4 {
    text-align: center;
    padding: 8px 0;
    width: 100%;
}

.score-header {
    border: 1px solid black;
    border-right: none;
    min-width: 50px;
    width: 6.25%;
}

.score-header > h4 {
    border-right: 1px solid black;
    min-width: 50px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

// .game-index-header > h4:last-child {
//     border-right: 1px solid black;
// }

@media screen and (max-width: #{$desktop-width - 1px}) {
    .game-index-container {
        min-width: 100%;
        width: 100%;
        margin: 15px auto;
    }

    .game-index-header {
        min-width: 0;
        width: 90vw;
        margin: 0 auto;
        // margin-left: 5px;
    }

    .game-index-tier-header {
        min-width: 100%;
        display: none;
    }

    #place-placeholder {
        padding: 0;
        padding-top: 8px;
        width: 25vw;
    }

    #username {
        width: 50vw;
    }

    .score-header {
        width: 25vw;
    }

    #place-placeholder:before {
        content: 'Place';
        text-align: center;
        left: -5px;
        top: -5px;
    }
    
    .game-index-ul {
        min-width: 0;
        width: 90vw;
        margin: 0 auto;
    }
}