$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;

@media screen and (max-width: #{$desktop-width - 1px}) {

}

.game-index-container {
    width: 65vw;
    min-width: 850px;
    font-size: 10px;
    margin: 25px;
}

.game-index-ul {
    height: 85vh;
    min-width: 800px;
}



.game-index-header {
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.game-index-header > li {
    min-width: 100px;
    width: 12.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 8px;
}

.game-index-tier-header {
    display: flex;
    min-width: 800px;
    width: 87.5%;
}

.game-index-tier-header > li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 8px;
    min-width: 100px;
    width: 14.28%;
}

.game-index-tier-header > li:last-child {
    border-right: 1px solid black;
}

.game-index-header > li:last-child {
    border-right: 1px solid black;
}
