$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;

@media screen and (max-width: #{$desktop-width - 1px}) {

}

.user-li-item {
    display: flex;
}

.user-tier-container {
    display: flex;
}

.tier-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
}

.tier-player-container > h4 {
    font-size: 14px;
}

.tier-player-score-header {
    display: flex;
    justify-content: space-around;
}

.tier-player-score {
    display: flex;
    justify-content: space-around;
}

.tier-player-details {
    min-width: 120px;
}