$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;

@media screen and (min-width: #{$desktop-width}) {
    .user-li-item {
        display: flex;
        min-width: 800px;
        width: 100%;
    }


    .game-index-username {
        min-width: 100px;
        width: 12.5%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .game-place {
        min-width: 50px;
        width: 6.25%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 15px 8px 0 8px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .user-tier-container {
        display: flex;
        min-width: 650px;
        width: 75%;
    }


    .tier-player-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100px;
        width: 26%;
        height: 55px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .tier-player-score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        min-width: 50px;
        width: 6.25%;
    }

    .tier-player-container > h4 {
        font-size: 110%;
        padding: 3px 0;
        font-weight: bold;
        // border-top: 1px solid black;
        // border-left: 1px solid black;
        border-bottom: 1px solid black;
        min-width: 100px;
        width: 100%;
        text-align: center;
    }

    .total-score-header {
        min-width: 100px;
        width: 100%;
        border-right: 1px solid black;
    }

    .tier-player-score-header {
        display: flex;
        justify-content: space-around;
    }

    .tier-player-score-header > h4{
        font-size: 12px;
        min-width: 50px;
        width: 100%;
        padding-top: 2px;
        text-align: center;

    }

    .tier-player-score-header > h4:last-child{
        // border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .tier-player-score {
        display: flex;
        justify-content: space-around;
        height: 19px;
    }

    .tier-player-score > h4 {
        min-width: 50px;
        width: 100%;
        text-align: center;
        padding-top: 2px;
        font-size: 14px;
        // border-bottom: 1px solid black;
    }

    .tier-player-score > h4:last-child {
        // border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .tier-player-details {
        min-width: 100px;
        width: 100%;
    }

    .user-total-score {
        height: 55px;
        text-align: center;
        font-size: 20px;
        border-right: 1px solid black;
        // border-top: none;
        // border-bottom: none;
        min-width: 50px;
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }

    .mobile-player-score-title {
        display: none;
    }
}


@media screen and (max-width: #{$desktop-width - 1px}) {

    .user-li-item {
        position: relative;
        display: flex;
        margin: 0 auto;
        width: 100%;
        font-size: 18px;
        text-align: center;
        height: 23px;
        transition: ease-in-out .5s height;
    }

    .user-tier-container {
        position: absolute;
        top: 22px;
        height: 198px;
        // display: flex;
        // flex-wrap: wrap;
        background-color: white;
        border-left: 1px solid black;
        border-right: 1px solid black;
        width: 100%;
    }

    .hide-players {
        display: none;
    }

    .user-height {
        height: 221px;
        transition: height 1s;
    }

    .game-place {
        min-width: 0;
        width: 25vw;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .game-index-username {
        min-width: 0;
        width: 50vw;
        border-left: 1px solid black;
        border-bottom: 1px solid black;

    }

    .tier-player-score-container {
        min-width: 0;
        width: 25vw;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .tier-player-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 3px 0;
    }

    .tier-player-container > h4 {
        width: 50%;
    }

    .tier-player-details {
        // display: flex;
        // flex-direction: row;
        width: 50%;
        justify-content: center;
        text-align: center;
    }

    .tier-player-score-header {
        display: none;
    }

    .tier-player-score {
        display: flex;
        flex-direction: row;
        
    }

    .tier-player-score > h4 {
        width: 50%;
    }

    .mobile-player-score-title {
        display: flex;
        margin-left: 50%;
    }

    .mobile-player-score-title > h4 {
        min-width: 50%;
    }
}