$tablet-width: 0px;
$desktop-width: 500px;
$tablet-height: 1400px;

@media screen and (max-width: #{$desktop-width - 1px}) {
    
    .leaderboard-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .leaderboard-buttons > button {
        border: 1px solid black;
        border-radius: 5px;
        width: 46vw;
        text-align: center;
        padding: 5px 15px;
        font-size: 24px;
    }
    .body-container {
        flex-direction: column;
    }

    .disable {
        display: none;
    }

    .play-now-button {
        width: 96vw;
        margin: 5px auto;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (min-width: #{$desktop-width}) {
    .body-container {
        display: flex;
        flex-direction: column;
    }

    .play-now-button {
        border: 1px solid black;
        border-radius: 15px;
        margin: 10px auto;
        margin-left: 10vw;
        padding: 5px 15px;
        font-size: 25px;
    }

    .leaderboard-buttons {
        display: none;
    }

    .leaderboards {
        display: flex;
    }
}

