.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar > h1 {
    font-size: 36px;
}

.navbar-ul-web {
    display: flex;
    font-size: 24px;
}

.navbar-ul-mobile {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.mobile-navbar-hidden {
    display: none !important;
    // opacity: 0;
}

.navbar-button-mobile {
    display: flex;
}



$tablet-width: 768px;
$desktop-width: 1024px;
$tablet-height: 1400px;

// @mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    .navbar-button-mobile {
        display: flex;
        height: 75px;
        width: 75px;
    }
    .navbar-button-mobile-hidden-menu {
        display: flex;
        height: 75px;
        width: 75px;
    }
    .navbar-ul-web {
        display: none;
    }

    .navbar-ul-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        padding: 100px;
        font-size: 100px;
    }

    .navbar > h1 {
        font-size: 100px;
    }
    .navbar {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        border-bottom: 2px solid green;
    }

    .navbar-ul-container {
        display: flex;
        position: absolute;
        padding: 50px;
        top: 20px;
        right: -15px;
        height: 100vh;
        width: 900px;
        // z-index: 5;
        background-color: blue;
        // transition: width 0.3s ease-out, height 1s ease-out;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .open-navbar {
        animation: mymove 0.5s;
    }

    .close-navbar {
        animation: myclose 0.5s;
    }

    @keyframes mymove {
    from {width: 0px; padding: 0;}
    to {width: 900px; padding: 50px;}
    }

    @keyframes myclose {
    from {width: 900px; padding: 50px;}
    to {width: 0px; padding: 0;}
    }
  }
// }

// @mixin desktop {
  @media (min-width: #{$desktop-width}) {
    .navbar-ul-web {
        display: flex;
    }
    .navbar-ul-web > li {
        padding: 0 10px;
    }
    .navbar-button-mobile {
        display: none;
    }
    .navbar-button-mobile-hidden-menu {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 2px solid green;
    }
  }
// }