.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar > h1 {
    font-size: 36px;
}

.navbar-ul-web {
    display: flex;
    font-size: 24px;
}

.navbar-ul-mobile {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.mobile-navbar-hidden {
    display: none;
    opacity: 0;
}

.navbar-button-mobile {
    display: flex;
}

.navbar-button-mobile > a {
    height: 50px;
    width: 50px;
    color: black;
}

$tablet-width: 768px;
$desktop-width: 1024px;

// @mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    .navbar-button-mobile {
        display: flex;
        height: 50px;
        width: 50px;
    }
    .navbar-ul-web {
        display: none;
    }
    .navbar > h1 {
        font-size: 72px;
    }
  }
// }

// @mixin desktop {
  @media (min-width: #{$desktop-width}) {
    .navbar-ul-web {
        display: flex;
    }
    .navbar-button-mobile {
        display: none;
    }
  }
// }