.tournament-index-item-container {
    
}

.tournament-index-item-default-show > h1 {
    font-size: 18px;
    height: 20px;
    padding: 5px;
}

.tournament-index-item-default-show {
    display: flex;
}